{% extends '../base.html' %} 

{% block content %}
<h1>Search Results</h1>


<form action="{% url 'article_search' %}">
        <input id="" type="text" name="q">
        <input type="submit" value="Submit">
    </form>

{% if obj %}
    <ol>
    {% for x in obj %}
        <li>
            <h1><a href="{{x.get_absolute_url}}" >{{ x.title }}</a></h1>
            <p>{{ x.content }}</p>
        </li>
    {% endfor %}
    </ol>
        
{% else %}
    <h3>Obj Doesnt Exist</h3>
{% endif %}
{% endblock content %}
