<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Inventory</title>
    <style>
        .nav {
            display: flex;
        }
    </style>
</head>
<body>

<nav class="nav">
    
            <a href="{% url 'home' %}">Home</a>
            &nbsp;
            &nbsp;
            &nbsp;
            <a href="{% url 'recipes:list' %}">Recipes</a>
            &nbsp;
            &nbsp;
            &nbsp;
            {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}">
                    Logut!
                </a>
            {% endif %}
</nav>

    
    {% block content %}
    {% endblock content %}

    <script src="https://unpkg.com/htmx.org@1.5.0" integrity="sha384-oGA+prIp5Vchu6we2YkI51UtVzN9Jpx2Z7PnR1I78PnZlN8LkrCT4lqqqmDkyrvI" crossorigin="anonymous"></script>
    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      });
    </script>

</body>
</html>
